.layui-layer-btn {
    border-top: 1px solid #eee;
}

.required_option {
    color: red;
    font-size: 18px;
}

.open-content {
    padding: 10px 10px 0 0
}

#table-search-box-const {
    height: 60px;
    line-height: 60px;
}

#table-search-box-const .search-item {
    width: calc(100% - 230px);
    height: 60px;
    float: left;
}

.layui-select-dropdown {
    position: absolute !important;
}

#table-search-box-const .search-btn {
    width: 230px;
    height: 60px;
    float: left;
}

#table-search-box-const .search-item .layui-form-item {
    margin-top: 14px;
    position: static;
    display: inline-block;
}

#table-search-box-const .search-item .layui-form-item .layui-form-label {
    width: auto;
    padding: 9px 0;
}

.editor—wrapper {
    border: 1px solid #ccc;
    z-index: 100; /* 按需定义 */
}

.toolbar-container {
    border-bottom: 1px solid #ccc;
}

.editor-container {
    height: 500px;
}

.uploadImage {
    width: 260px;
    float: left;
    padding-right: 10px;
}

.uploadImage .image {
    width: 258px;
}

.uploadImage .image img {
    width: 100%;
    height: 130px;
    border: 1px dashed #e2e2e2;
}

.uploadImage .image .btn {
    text-align: center;
    padding: 5px 0 10px;
}

.customer-loading-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 546px) {
    /*日期组件显示不全*/
    .layui-laydate-range {
        width: 100% !important;
        left: 0 !important;
    }
}

/* 在移动端隐藏元素 */
@media screen and (max-width: 767px) {
    /*隐藏常用搜索*/
    #table-search-box-const .search-item {
        display: none;
    }

    #table-search-box-const .search-btn button {
        display: none;
    }

    /*列表固定字段取消*/
    .layui-table-fixed-l, .layui-table-fixed-r {
        display: none !important;
    }


    .layui-table-cell {
        min-width: 100px;
    }

    .uploadImageMultiple {
        margin-top: 10px;
    }

    .layadmin-tips .layui-icon[face] {
        display: inline-block;
        font-size: 150px;
        color: #393D49;
    }

    .layadmin-tips .layui-text {
        width: 300px;
    }
}


